<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.camerabeautify">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" /> <!-- <uses-permission android:name="android.permission.HARDWARE_TEST.camera2.full" /> -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".Activity.AboutApp"></activity>
        <activity
            android:name=".Dev_Infos"
            android:parentActivityName=".Activity.CameraWithFilterActivity" />
        <activity
            android:name=".Activity.CameraWithFilterActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            tools:replace="android:theme" />
        <activity
            android:name=".Activity.Splash_Screen"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>