<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loetech.camerabeautify">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" /> <!-- <uses-permission android:name="android.permission.HARDWARE_TEST.camera2.full" /> -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


        <service
            android:name=".camfilter.MyService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"/>

        <activity
            android:name="com.loetech.camerabeautify.Activity.CameraWithFilterActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            tools:replace="android:theme" />
        <activity
            android:name="com.loetech.camerabeautify.Activity.Splash_Screen"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        

    </application>

</manifest>